body {
  border: 20px solid #bdc3c7;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  max-width: 700px;
  font-family: Source Sans Pro;
}

p {
  font-weight: 700;
  text-align: left;
}

#first {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
  
  
}

h2 {
  text-align: left;
  font-size: 2.0rem;
  font-weight: bold;
}

#h3 {
  letter-spacing: 0.2rem;
  text-align: left;
  text-transform: uppercase;
  color: #3498db;
  
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255,0.3);
}